.wrapper {
	background: white;
	display: inline-block;
	text-align: center;
	border-radius: 7px;
	width: 342px;
	height: 472px;
	margin: 50px 12px 50px 12px;
}

.imageWrapper {
	min-height: 200px;
	background: #B1AFE9;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.title {
	color: var(--black);
	font-size: 16px;
}

.date {
	font-size: 12px;
	color: var(--greyMedium)
}

.description {
	font-size: 12px;
	padding: 0px 20px 20px 20px;
	color: var(--greyMedium)
}