.loginDashboard {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--primary-dark)
}

.message {
    overflow-wrap: anywhere;
    font-family: 'Lato', sans-serif;
}

.link {
    color: black;
    text-decoration-color: black;
}

.login {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-light);
    color: var(--black);
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login:hover {
    background-color: var(--primary-dark);
    color: var(--white);
}

.wrapper {
    background-color: white;
    padding: 5%;
    display: flex;
    color: #3f3d56;
}

.leftCol {
    flex: 1;
    width: 20%;
    box-sizing: border-box;
    border-right: 1px solid #3f3d56;
}

.rightCol {
    flex: 4;
    width: 80%;
    box-sizing: border-box;
    padding: 10px;
}

.topicList {
    list-style: none;
    padding-left:0px;
    margin-left: 10px;
    margin-right: 10px;
}

.topicList li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.topicList li.selected {
    background-color: #f0f0f0;
    border-radius: 5px;
}

.toggleIcon {
    transition: transform 0.2s ease;
}

.toggleIcon.open {
    transform: rotate(180deg);
}

.topicList .subTopics {
    display: none;
    list-style: none;
    padding-left: 0px;
}

.subTopics.open {
    display: block;
}

.postForm {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.formGroup {
    display: flex;
    margin-bottom: 20px;
}

label {
    width: 40px;
    text-align: right;
    padding-right: 10px;
}

.postForm select,
.postForm input,
.postForm textarea,
.search input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
}

.search {
    margin-top: 20px;
    margin-bottom: 20px;
}

.postContainer {
    background-color: #F0EFFE;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.authorName {
    color: gray;
    font-size: 16px;
}
