@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --primary-light: #F0EFFF;
    --primary: #F0EFFF;
    --primary-dark: #5A54D4;
    --white: #FFFFFF;

    --greyLight: #F0F0F0;
    --greyMedium: #757A94;
    --black: #3F3D56;
    --background: linear-gradient(90deg, #B1AFE9 20%, #F0EFFF 50%, #B1AFE9 80%);
}



.logout {
        font-family: 'Lato', sans-serif;
        display: inline-block;
        font-size: 1em;
        padding: 0.5em;
        margin-top: 100px;
        margin-right: 10px;
        margin-bottom: 60px;
        width: 9.0625rem;
        height: 2.75rem;
        flex-shrink: 0;
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--greyMedium);
        color: var(--white);
        border-radius: 3.75rem;
        border: none;
        cursor: pointer;
        position: relative;
        transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
        box-shadow: 0 2px 25px rgba(238, 231, 235, 0.5);
}